@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body{
  height: 100%;
  width: 100%;
  background-color: darkslategrey;
  margin: 0;
}

nav{
  
  height: 10%;
  position: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul{
  padding: 0;
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

li{
  list-style-type: none;
  color: white;
  font-family: 'Varela Round', sans-serif;
  font-size: 18pt;
  cursor: pointer;
}

section{
  background-color: darkcyan;
  height: 90%;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5em;
}

.container > p{
  font-size: 50pt;
  font-family: 'Permanent Marker', cursive;
  color: white;
  text-shadow: 5px 10px black;
}

#moai, #mute{
  cursor: pointer;
}

#color{
  cursor: pointer;
}

marquee, .marquee{
  margin: none;
  font-size: 50pt;
}

.marquee{
  display: block;
  left: 0;
  position: absolute;
  top: 0;
}

.dvd{
  position: relative;
}
video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  
}
.video-wrapper {
  border: 2px solid #000;
  width: 800px;
  height: 480px;
  position: relative;
  overflow: hidden;
  display: flex;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}

